
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Publish prototypes on the web 
      </h1>
      <p>
        You can share prototypes made with the <a href="https://govuk-prototype-kit.herokuapp.com/docs">GOV.UK Prototype Kit</a>
       by publishing them on the web using an MOJ service called Cloud Platform.
      </p>

      <h2 class="govuk-heading-l">
        Before you start
      </h2>

      <p> You'll need to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="put-code-on-github.html">put your prototype code on GitHub</a>
        </li>
        <li>
          <a href="https://user-guide.cloud-platform.service.justice.gov.uk/documentation/getting-started/cloud-platform-cli.html#the-cloud-platform-cli">install the Cloud Platform command-line tool (CLI)</a>
        </li>
      </ul>

   
      <p>
        <a href="copy-env-repo.html">Next (copy the environments repository)</a>
      </p>

    </div>
  </div>

{% endblock %}
