
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Put your code on GitHub 
      </h1>
      <p>
        Before you can publish your prototype on the web using the MOJ Cloud Platform service, you’ll need to put your code on GitHub.
      </p>

      <p>Some concepts:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Git - software that stores versions of your code
        </li>
        <li>
          GitHub - a website that shares your code online
        </li>
        <li>
          Repository (Repo) - a project stored in Git
        </li>
      </ul>

      <ol class="govuk-list govuk-list--number">
        <li>
          Make sure you have a local development environment including a terminal and a git client.
        </li>
        <li>
          <a href="https://github.com/">Create a free GitHub account</a>.
        </li>
        <li>
          Contact <a href="https://mojdt.slack.com/archives/C01BUKJSZD4">#ask-operations-engineering</a> on Slack to get added to the designers team in the <a href="https://github.com/ministryofjustice/">MOJ GitHub organisation</a>.
        </li>
        <li>
          <a href="https://govuk-prototype-kit.herokuapp.com/docs">Download and install the GOV.UK Prototype Kit</a>.
        </li>
        <li>
          <a href="store-prototype-in-git.html">Store your prototype in Git</a>.
        </li>
        <li>
          <a href="upload-prototype-to-github.html">Upload your prototype to GitHub</a>.
        </li>
      </ol>

    </div>
  </div>

{% endblock %}
